h2 {
    color: #555
}

p {
    color: #777;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    width: 50%;

    .loader {
        width: 30px;
    }
}

.table-container {
    img {
        width: 50px;
    }
}

.empty-table {
    color: #aaa;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}